.main-page
  = render partial: 'shared/roll_side_bar', locals: { cospul: @cospuls}
  .main-page__content
    %ul.social
      %li
        %i.fab.fa-facebook-f.fa-lg
      %li
        = link_to intro_kaonashi_path, method: :get do
          %i.far.fa-surprise.fa-lg
      %li
        = link_to intro_omikuji_path, method: :get do
          %i.fas.fa-book-dead.fa-lg
      %li
        = link_to intro_tetris_path, method: :get do
          %i.fas.fa-th-large.fa-lg
      %li
        = link_to rakuten_index_path, method: :get do
          %i.fas.fa-shopping-cart.fa-lg
    .main-page__content__inner
      %h1 cospul
      = link_to '~あらゆる衣装の情報交換サイト~', intro_show_path , method: :get, id: "introshow"
      .main-page__pictures
        - @cospuls.each do |cospul|
          = link_to  "/cospuls/#{cospul.id}",class: "cospul__link", method: :get do
            .index__cospul
              .index__cospul__picture
                - cospul.cospul_pictures.each_with_index do |cospul, i|
                  = image_tag cospul.picture.url
              .index__cospul__text
                .index__cospul__text__inner
                  .index__cospul__text__title
                    = cospul.title.truncate(13)
                  .index__cospul__text__content
                    = cospul.content.truncate(13)
                  .index__cospul__text__user
                    = image_tag("#{cospul.user.image.url}", id: "icon")
                    = cospul.user.name
                  .good_btn
                    = render partial:'likes/like',locals: { cospul: cospul }
                  .index__cospul__text__tag
                    - if cospul.tags.present?
                      - cospul.tags.each_with_index do |tag,i|
                        - if i <= 2
                          .a
                            = link_to "##{tag.name}","/tags/#{tag.id}",method: :get
                        - else
      = paginate(@cospuls)
      #ss ⬆️