.main-page
  = render partial: 'shared/roll_side_bar', locals: { cospul: @cospuls}
  .main-page__content
    %ul.social
      %li
        = link_to game_kaonashi_path, method: :get do
          %i.far.fa-surprise.fa-lg
      %li
        = link_to game_omikuji_path, method: :get do
          %i.fas.fa-book-dead.fa-lg
      %li
        = link_to game_tetris_path, method: :get do
          %i.fas.fa-th-large.fa-lg
      %li
        = link_to rakuten_index_path, method: :get do
          %i.fas.fa-shopping-cart.fa-lg
    .main-page__content__inner
      %h1 cospul
      = link_to '~あらゆる衣装の情報交換サイト~', game_show_path , method: :get, id: "introshow"
      = render partial:'shared/tag_search'
      .cospul-lists__pictures
        = render partial:'shared/cospul_list',locals: { cospuls: @cospuls }
      = paginate(@cospuls)
      #ss ⬆️