.form-body
  %h2 NEW POST
  - if @cospul.errors.full_messages.any?
    .somothing-form__errors
      %h2= "#{@cospul.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @cospul.errors.full_messages.each do |message|
          %li= message
  .cospul__form
  = form_with model: @cospul ,id: "cospul_form", local: true do |f|
    #cospul__form__pictures
      #upload__file__previews.hidden
        = image_tag '', id: 'cospul__img__prev', class: 'edit__cospul__pictures__picture',data: {image: 0}
        .cospul__pictures__btns
          =link_to "編集", "#",class: "cospul__pictures__btns__edit"
          =link_to "削除", "#",class: "new__cospul__pictures__btns__delete"
      .upload__box
        = f.file_field :picture ,name: "cospul[cospul_pictures_attributes][0][picture]",class: 'upload__box__input',id: 'post__img__last',accept: "image/*",multiple: true,data: {image: 0}
        %pre.upload__box__text
          画像を追加する(5枚まで)
          ドラッグアンドドロップor
          クリックしてファイルをアップロード
        = image_tag 'sample_model.png', alt: 'sample_model', class: 'sample_model'
    .cospul__form__text
      = f.text_field :title, placeholder: 'タイトルを入力してください。',class: 'cospul__form__text__title'
      = f.text_area :content, placeholder: '詳細を入力してください。',class: 'cospul__form__text__content'
    .tags__search
      = f.text_field :tags_as_string, value: @cospul.tags_as_string
    .cospul__form__post-btn
      = f.submit '商品情報入力画面に移動',type: "submit", class: "btn btn--block"
  .tag__form
    %p 該当するタグがが無い場合はこちらで作る事もできます
    = form_with model: @tag , local: true do |t|
      = t.text_field  :name, placeholder: '新規タグ作成',class: 'cospul-text'
      = t.submit '新しいタグを作成する',type: "submit", class: "btn"