.kaonashi__box
  #kaonashi-1.mask
    = image_tag "kaonashi_rd.png"
    .bar
    .line
  #kaonashi-2.mask
    = image_tag "kaonashi_bl.png"
    .bar
    .line
  #kaonashi-3.mask
    = image_tag "kaonashi_pu.png"
    .bar
    .line
  #kaonashi-4.mask
    = image_tag "kaonashi_gr.png"
    .bar
    .line
  #kaonashi-5.mask
    = image_tag "kaonashi_ye.png"
    .bar
    .line
  #kaonashi-6.mask
    = image_tag "kaonashi_bk.png"
    .bar
    .line
