- if user_signed_in?
  .like-link{:id => "like-link-#{cospul.id}"}
    - if cospul.likes.find_by(user_id: current_user.id)
      = link_to unlike_path(cospul.id), method: :delete, remote: true do
        .iine__button
          ❤️#{cospul.likes.count}
    - else
      = link_to like_path(cospul.id), method: :post, remote: true do
        .iine__button
          ♡️#{cospul.likes.count}
- else
  - if cospul.likes_count.nil?
    .iine__button
      ♡️#{cospul.likes.count}
  - else
    .iine__button
      ❤️#{cospul.likes.count}
